@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Forum', cursive;
  letter-spacing: 2px;
  font-size: 1.6rem;
  color: #131313;
}

html,
body {
  background-color: #dadada;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

ul {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 80%;
  height: 60%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul li {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  cursor: pointer;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

ul li:hover {
  opacity: 1 !important;
}
